#section11 {
    width: 96vw;
    margin: -.4vw 2vw 4vw 2vw;
}

.section11__wrap {
    display: grid;
    grid-template-areas:
        "parallax__effect game__effect quiz__effect mouse__effect slider__effect"
    ;
    grid-template-columns: 18.65vw 18.65vw 18.65vw 18.65vw 18.65vw;
    grid-template-rows: 20.5vw;

    justify-content: space-between;
    overflow: hidden;
}

/* parallax button */

.section11__wrap .parallax__effect {
    grid-area: parallax__effect;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url(../img/section12bg1-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.section11__wrap .parallax__effect a {
    /* position: absolute; */
    top: 20%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    padding: 5vw;
    border-radius: 50vw;
    background: #FFF271;
    border: 0.3vw solid #000;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.section11__wrap .parallax__effect a.button__pa {
    width: 10vw;
    height: 10vw;
    text-transform: uppercase;
    padding: 2vw;
    background: #FF9CDD;
    border: 0.4vw solid #000;
    border-radius: 10vw;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .parallax__effect a.button__pa::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FF9CDD;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #000, 0 0.625em 0 0 #000;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .parallax__effect a.button__pa:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

.section11__wrap .parallax__effect a.button__pa:hover::before {
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.5em, -1em);
}

.section11__wrap .parallax__effect a.button__pa:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

.section11__wrap .parallax__effect a.button__pa:active:before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

.section11__wrap .parallax__effect a img {
    width: 3vw;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

/* /parallax button */

/* gameEffect button */
.section11__wrap .game__effect {
    grid-area: game__effect;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url(../img/section12bg2-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.section11__wrap .game__effect a {
    /* position: absolute; */
    top: 20%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    padding: 5vw;
    border-radius: 50vw;
    background: #FFF271;
    border: 0.3vw solid #000;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.section11__wrap .game__effect a.button__ge {
    width: 10vw;
    height: 10vw;
    text-transform: uppercase;
    padding: 2vw;
    background: #52C6FF;
    border: 0.4vw solid #000;
    border-radius: 10vw;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .game__effect a.button__ge::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #52C6FF;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #000, 0 0.625em 0 0 #000;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .game__effect a.button__ge:hover {
    background: #ffe3e2;
    transform: translate(0, 0.25em);
}

.section11__wrap .game__effect a.button__ge:hover::before {
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.5em, -1em);
}

.section11__wrap .game__effect a.button__ge:active {
    background: #ffe3e2;
    transform: translate(0em, 0.75em);
}

.section11__wrap .game__effect a.button__ge:active:before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

.section11__wrap .game__effect a img {
    width: 3vw;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}


/* /gameEffect button */

/* quiz__effect */
.section11__wrap .quiz__effect {
    grid-area: quiz__effect;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url(../img/section12bg3-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.section11__wrap .quiz__effect a {
    /* position: absolute; */
    top: 20%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    padding: 5vw;
    border-radius: 50vw;
    background: #C58AF3;
    border: 0.3vw solid #000;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.section11__wrap .quiz__effect a.button__qe {
    width: 10vw;
    height: 10vw;
    text-transform: uppercase;
    padding: 2vw;
    background: #C58AF3;
    border: 0.4vw solid #000;
    border-radius: 10vw;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .quiz__effect a.button__qe::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #C58AF3;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .quiz__effect a.button__qe:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

.section11__wrap .quiz__effect a.button__qe:hover::before {
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.5em, -1em);
}

.section11__wrap .quiz__effect a.button__qe:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

.section11__wrap .quiz__effect a.button__qe:active:before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

.section11__wrap .quiz__effect a img {
    width: 3vw;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

/* /quiz__effect */

/* mouse__effect */
.section11__wrap .mouse__effect {
    grid-area: mouse__effect;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url(../img/section12bg4-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.section11__wrap .mouse__effect a {
    /* position: absolute; */
    top: 20%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    padding: 5vw;
    border-radius: 50vw;
    background: #FFF271;
    border: 0.3vw solid #000;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.section11__wrap .mouse__effect a.button__me {
    width: 10vw;
    height: 10vw;
    text-transform: uppercase;
    padding: 2vw;
    background: #FE490B;
    border: 0.4vw solid #000;
    border-radius: 10vw;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .mouse__effect a.button__me::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FE490B;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .mouse__effect a.button__me:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

.section11__wrap .mouse__effect a.button__me:hover::before {
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.5em, -1em);
}

.section11__wrap .mouse__effect a.button__me:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

.section11__wrap .mouse__effect a.button__me:active:before {
    box-shadow: 0 0 0 2px #FFF271, 0 0 #FFF271;
    transform: translate3d(0, 0, -1em);
}

.section11__wrap .mouse__effect a img {
    width: 3vw;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

/* /mouse__effect */

/* slider__effect button */
.section11__wrap .slider__effect {
    grid-area: slider__effect;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url(../img/section12bg5-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.section11__wrap .slider__effect a {
    /* position: absolute; */
    top: 20%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    padding: 5vw;
    border-radius: 50vw;
    background: #FFF271;
    border: 0.3vw solid #000;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.section11__wrap .slider__effect a.button__se {
    width: 10vw;
    height: 10vw;
    text-transform: uppercase;
    padding: 2vw;
    background: #FFF271;
    border: 0.4vw solid #000;
    border-radius: 10vw;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .slider__effect a.button__se::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF271;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section11__wrap .slider__effect a.button__se:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

.section11__wrap .slider__effect a.button__se:hover::before {
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 #000;
    transform: translate3d(0, 0.5em, -1em);
}

.section11__wrap .slider__effect a.button__se:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

.section11__wrap .slider__effect a.button__se:active:before {
    box-shadow: 0 0 0 2px #FFF271, 0 0 #FFF271;
    transform: translate3d(0, 0, -1em);
}

.section11__wrap .slider__effect a img {
    width: 3vw;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

/* /slider__effect button */

.section11__wrap .section11_desc {
    font-size: 2vw;
    text-align: center;
    position: relative;
    top: 5vw;
    right: -3vw;
    color: #fff;
    text-shadow: 0.2vw 0.2vw #000;
    display: inline-block;
}

@media (max-width: 600px) {
    .section11__wrap {
        display: grid;
        grid-template-areas:
            "parallax__effect "
            " game__effect "
            "quiz__effect "
            " mouse__effect "
            "slider__effect"
        ;
        grid-template-columns: 96vw;
        grid-template-rows: 20.5vw 20.5vw 20.5vw 20.5vw 20.5vw;
        gap: 2vw;
        justify-content: space-between;
    }

    .section11__wrap .game__effect a {
        top: 15%;
        left: 25%;
    }

    .section11__wrap .game__effect a {
        top: 15%;
        left: 25%;
    }

    .section11__wrap .quiz__effect a {
        top: 15%;
        left: 25%;
    }

    .section11__wrap .slider__effect a {
        top: 15%;
        left: 25%;
    }

    .section11__wrap .mouse__effect a {
        top: 15%;
        left: 25%;
    }

    .section11__wrap .section11_desc {
        font-size: 6vw;
        top: 3vw;
        right: -30vw;
    }
}