#section1 {
    display: inline-block;
}

.section1__box {
    position: relative;
    background-color: #FFEB26;
    padding: 1vw 2vw;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url(../img/noise.png);
    background-blend-mode: color;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    opacity: 0;
    width: 96vw;
    margin: 1vw 2vw;
}

.section1__box__inner {
    font-size: 3vw;
    text-shadow: 0.2vw 0.2vw #fff;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.section1__box__inner .desc span {
    display: inline-block;
    white-space: pre;
    opacity: 0;
    min-width: 1.2vw;
}

.section1__box__inner .ic {
    display: inline-block;
    transform: translateY(-100px);
}


@media (max-width: 1200px) {}

@media (max-width: 760px) {}

@media (max-width: 486px) {
    .section1__box {
        padding: 2vw 0;
        margin: 1vw 2vw 3vw 2vw !important;
    }

    .section1__box__inner {
        font-size: 10vw;
    }

    .section1__box__inner .desc img {
        width: 15vw;
    }
}