/* section9 */
#section9 {
    position: relative;
}

.banner2__wrap {
    width: 96vw;
    padding: 5vw 5vw;
    border: 0.3vw solid #000;
    margin: 8vw 2vw 3vw;
    border-radius: 1vw;
    text-align: center;
    background: #FFEB26;
    position: relative;
    overflow: hidden;
}

.banner2__eye {
    position: absolute;
    background-image: url(../img/눈-min.gif);
    background-repeat: no-repeat;
    background-size: contain;
    left: 34vw;
    top: -16vw;
    padding: 16vw;
    z-index: 10;
}

.banner2__desc {
    position: relative;
    font-size: 13vw;
    color: #fff;
    z-index: 10;
    -webkit-text-stroke: 0.1vw solid #000;
    display: inline-block;
}

.banner2__desc span {
    display: inline-block;
    font-family: "OKChan";
    -webkit-text-stroke: 0.1vw #000;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    display: inline-block;
}

.banner2__wrap .banner2__desc__sub {
    position: relative;
    text-align: right;
    z-index: 10;
    right: 9vw;
    top: -2vw;
    font-size: 1vw;
}

.banner2__desc__sub span {
    display: inline-block;
    white-space: pre;
}

.banner2__bg img {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner2__img {
    position: absolute;
    background-image: url(../img/glasses.gif);
    padding: 14vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 20;
    top: 13vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.banner2__img2 {
    position: absolute;
    background-image: url(../img/게임기.gif);
    padding: 8vw;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
    top: 76%;
    left: 8vw;
    transform: translate(-50%, -50%);
}

/*/ section9 */