#section12 {
    position: relative;
}

.banner3__wrap {
    width: 96vw;
    padding: 5vw 5vw;
    border: 0.4vw solid #000;
    margin: 2.5vw 2vw;
    border-radius: 1vw;
    text-align: center;
    background: #FF8ED8;
    position: relative;
    overflow: hidden;
}

.banner3__eye {
    position: absolute;
    background-image: url(../img/눈-min.gif);
    background-repeat: no-repeat;
    background-size: contain;
    left: 38.5vw;
    top: -12vw;
    padding: 11.6vw;
    z-index: 10;
}

.banner3__desc {
    position: relative;
    font-size: 12.5vw;
}

.banner3__desc .desc span {
    font-family: "OKChan";
    color: #fff;
    -webkit-text-stroke: 0.1vw #000;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    z-index: 10;
    display: inline-block;
    white-space: pre;
}

.banner3__wrap .banner3__desc__sub {
    position: relative;
    text-align: left;
    z-index: 10;
    right: -75vw;
    top: -2vw;
    font-size: 1vw;
}

.banner3__bg img {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner3__img {
    position: absolute;
    background-image: url(../img/myphoto.png);
    padding: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.4vw solid #000;
    border-radius: 50vw;
}