#section3 {
    width: 96vw;
    margin: 1vw 2vw;
    display: grid;
    grid-template-areas:
        "section3__box1 section3__box2"
        "section3__box1 section3__box3"
    ;
    grid-template-columns: 47.5vw 47.5vw;
    grid-template-rows: 9.17vw 27.084vw;
    grid-gap: 1vw;
}

#section3__box1 {
    grid-area: section3__box1;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url("https://github.com/thdtjdgml415/portpolio/blob/master/assets3/img/section3bg3.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#section3__myphoto {
    background-image: url('https://github.com/thdtjdgml415/portpoliohtml/blob/master/assets3/img/myphoto2-min.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 23vw;
    height: 28vw;
    position: absolute;
    top: 16vw;
    left: 24vw;
    transform: translate(-50%, -50%);
}

button.section3__button {
    position: relative;
    width: 30%;
    height: 10vw;
    top: 23vw;
    left: 31vw;
    font-family: "CookieRun";
    color: #000;
    text-transform: uppercase;
    padding: 1.35vw 2vw;
    background: #FFEB26;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    text-shadow: 0.2vw 0.2vw #fff;
    transform-style: preserve-3d;
    font-size: 5vw;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    z-index: 50;
}

button.section3__button::before {
    position: absolute;
    content: "";
    width: 102%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFEB26;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    transform: translate3d(0, 0.75em, -5em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    z-index: 50;
}

button.section3__button:hover {
    background: #FFEB26;
    transform: translate(0, 0.25em);
}

button.section3__button:hover::before {
    transform: translate3d(0, 0.5em, -1em);
}

button.section3__button:active {
    background: #FFEB26;
    transform: translate(0em, 0.75em);
}

button.section3__button:active::before {
    box-shadow: 0 0 0 2px #FFEB26, 0 0 #FFEB26;
    transform: translate3d(0, 0, -1em);
}



.section3__box2 {
    grid-area: section3__box2;
    font-size: 2.7vw;
    margin: 0;
    background: #fff;
    display: inline-block;
}

button {
    width: 100%;
    height: 5vw;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

button.section3__box2__button {
    position: relative;
    top: 0;
    left: 0;
    font-family: "CookieRun";
    color: #000;
    text-transform: uppercase;
    padding: 3.35vw 2vw;
    background: #FFEB26;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    text-shadow: 0.2vw 0.2vw #fff;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.section3__box2__button .desc {
    position: relative;
    left: 0;
    top: -2vw;
}

button.section3__box2__button::before {
    position: absolute;
    content: "";
    width: 101%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFEB26;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.section3__box2__button:hover {
    background: #FFEB26;
    transform: translate(0, 0.25em);
}

button.section3__box2__button:hover::before {
    transform: translate3d(0, 0.5em, -1em);
}

button.section3__box2__button:active {
    background: #FFEB26;
    transform: translate(0em, 0.75em);
}

button.section3__box2__button:active::before {
    box-shadow: 0 0 0 2px #FFEB26, 0 0 #FFEB26;
    transform: translate3d(0, 0, -1em);
}


.section3__box3 {
    grid-area: section3__box3;
    border: 0.4vw solid #000;
    border-radius: 1vw;
    background-image: url(../img/section3bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 47.5vw;
}

.section3__box3 .section__right__img1 {
    background-image: url(../img/FINGGER-min.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10vw 15vw;
    position: absolute;
    left: 15vw;
    top: 11vw;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.section3__box3 .section__right__img2 {
    background-image: url(../img/flag-min.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10vw;
    position: absolute;
    left: 10vw;
    top: -1vw;
}

.section3__box3 .section__right__img3 {
    background-image: url(../img/10_Hand.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10vw;
    position: absolute;
    right: 2vw;
    top: 9vw;
}

@media (max-width: 485px) {
    #section3 {
        width: 96vw;
        margin: 1vw 2vw;
        display: grid;
        grid-template-areas:
            "section3__box1"
            "section3__box2"
            "section3__box3"
        ;
        grid-template-columns: 96vw 96vw 96vw !important;
        grid-template-rows: 27.084vw 9.17vw 27.084vw;
        grid-gap: 3vw;
        margin-bottom: 8vw;
    }

    .section3__box3 {
        grid-area: section3__box3;
        border: 0.4vw solid #000;
        border-radius: 1vw;
        background-image: url(../img/section3bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 96vw;
    }


    #section3__myphoto {}

    .section3__box3 .section__right__img2 {
        left: 30vw;
        top: -20vw;
    }

    .svg_bg {
        top: 120vw;
    }

    #section3__myphoto {
        left: 53vw;
        top: 12vw;
        width: 19vw;
        height: 24vw;
    }
}